#logo-kubo	{margin:0 auto;width:60px;height:100px;position:relative;}
footer{border-top:#bbb dotted 1px;height:;background:;top:60px;position:relative;width:100%;margin:0 auto;}
footer div{text-align:center;font-size:11px;color:#888; width:100%;}